*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    }

.header {
background-color: #FFFFFF;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
top: 0px;
width: 100%;
z-index: 1;
padding-top: 20px;
padding-bottom: 13px;

}

.logo {

    width: 155px;
    margin-bottom: 10px;
}

.menu {
display: flex;
justify-content: space-between;    
font-size: 16px;
padding: 0px;
width: 155px;


}
a {
  
    text-decoration: none;
    color: #4a4a4a;
   
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
background-color: #3CDBC0;
height: 100vh;
}

h1 {
    font-weight: bold;
    font-size: 30px;
  text-align: center;
  color: #FFFFFF;
}

@media all and (min-width:768px){

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
       
        
        }
        
     
        
        .menu {
        font-size: 16px;
        text-align: right;
       
        
        }
        h1 {
          
            font-size: 40px;
          
        }
}